.bg{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/hotelbg.png");
    background-repeat: no-repeat;
    
}
.bg1{
    
    background-color: #000000e6;
}
.alg{
    padding-top: 70rem;
    padding-bottom: 20rem;
    margin-left: 10rem;
    margin-right:  20rem;

    
    
}