.sep{
    border-radius: 10%;
}
.clr{
    background-color: #5752ab !important;
    border-color: #d7dfe9;
}
.clr1{
    border-color: #d7dfe9;
}
.hcolor{
    color:#5752ab;
    font-family: Bree Serif,Roboto;
}