.clr{
    color: #9aa5b1;
 
}
.bg{
    background-color:#3e4c59;
}
.bg1{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/portfolio-work-done-bg.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.fw{
    color:white;
    font-size:50px;
  
}
.bb{
   
    border-bottom: 1px solid white;
}
.bg2{
    background-color:#001c32 ;
}
.txt{
    color:#9aa5b1
}
.MT{
    padding-top:20%;
}